@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

.Header {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  grid-area: header;
  position: relative;
}

.Header span {
  text-decoration: none;
  color: black;
  font-size: 100px;
}

a {
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .Header span {
    font-size: 50px;
  }
}
