.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;

}

.listItem {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}