

.App, .menuPageLayoutSideBar {
  height: 100vh;
  display: grid;
  grid-template-columns:  1fr 1fr 2fr 4fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 6fr 1fr;
  overflow: hidden;
}

.App{  
  
  grid-template-areas: 
  "nav nav nav nav nav nav"
  ". . header header . ."
  ". component component component component sideBarTab"
  "footer footer footer footer footer footer"}

.menuPageLayoutSideBar{  
  grid-template-areas: 
  "nav nav nav nav nav"
  "header header . sideBar sideBar"
  "menuWheel menuWheel . sideBar sideBar"
  "footer footer footer footer footer"}


.Nav {
  background-color: grey;
  grid-area: nav;
  text-align: center;
  justify-items: center;
}

.Nav span {

 
}

.Header {
  grid-area: header;
  background-color: teal;
  text-align: center;
  font-size: 100px;
}

.ListBar {
  grid-area: listBar;
  background-color: salmon;

}

.SideBar {
  grid-area: sideBar;
  background-color: yellow;

}

.Footer {
  grid-area: footer;
  background-color: purple;

}

.routerWrapper {
  grid-area: component;
  width: 100%;
  display: flex;
  overflow: hidden;

}

.MenuWheel {
  background-color: green;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  }

.SideBarTab {
  grid-area: sideBarTab;
  background-color: red;
}

.Home {
  background-color: blue;
  width: 100%;
}
/* 
.listPageLayout, .listPageLayoutSideBar {
  height: 100vh;
  display: grid;
  grid-template-columns:  1fr 1fr 2fr 4fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 6fr 1fr;
}

.listPageLayout{  
  grid-template-areas: 
  "nav nav nav nav nav nav"
  ". . header header . ."
  ". list list list list sideBarTab"
  "footer footer footer footer footer footer"}

  .listPageLayoutSideBar{  
    grid-template-areas: 
    "nav nav nav nav nav"
    "header header . sideBar sideBar"
    ". list list . sideBar sideBar"
    "footer footer footer footer footer"} */
